name: CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - master

jobs:
  build:
    name: PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '8.1'
          - '8.2'
          - '8.3'
          - 'nightly'
    continue-on-error: ${{ matrix.php-version == 'nightly' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Install dependencies
        run: |
          phpize
          ./configure
          make

      - name: Install extension
        run: sudo make install

      - name: Run tests
        run: make test

      - name: Upload test diffs on failure
        if: failure()
        run: |
          find tests -name '*.diff' -print -exec cat {} +
